.card {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  flex-wrap:wrap;
  display:grid ;
  letter-spacing: normal;
  word-spacing: normal; 
  background-color: transparent;
  border: 1px solid transparent;
  background-color: rgb(188, 185, 160,0.4)  ;
  border-radius: 4px;
  padding: 20px 40px 20px 40px;
  height: auto;
  /* width: 500px; */
  
}
.card1 {
margin-left: 20px;
margin-top: 20px;
font-size:20px;
letter-spacing: normal;
word-spacing: normal;
display: flex;
flex-wrap:wrap;
display:grid ;
background-color: transparent;
border: 1px solid transparent;
background-color:rgb(250, 244, 244, 0.4);
border-radius: 4px;
padding: 20px 40px 10px 40px;
width: 300px;
height: 390;


  }


body {
  background-color: aliceblue;
  height: 100%;
}

body,
html {
  height: 100vh;
}


.container {
  padding: 2px 16px;
  

  
}

.home {
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: normal;
  word-spacing: normal;


  border: 1px solid #eea0a069;
  background-color: rgb(250, 244, 244);
  border-radius: 4px;
  padding: 20px 40px 10px 40px;

  background-image: url("https://img.freepik.com/fotos-premium/retrato-de-medicos-felizes_107420-19562.jpg?w=2000");
}

p {
  font-size: 14px;
  
  margin-top: 20px;
}

.smoke {
  text-align: center;
}

.button {
  background-color: #008CBA;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.button1 {
  background-color: #f44336;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.holder {
  margin: 10px 10px;
  margin-left: 30px;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

/* loginform CSS */

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

/* loginform CSS */
.login {
  margin-left: 980px
}

*{
  box-sizing: border-box;
}

/* Style the search field */
form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: center;
  
  background: #f1f1f1;
}

/* Style the submit button */
form.search button {
  float: center;
 
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}

.mapouter{position:center;text-align:center;width:600px;height:400px;}
.gmap_canvas {overflow:hidden;background:none!important;width:600px;height:400px;}
.gmap_iframe {width:600px!important;height:400px!important;}

.fa-phone:before {
  content: "\f095";
}
.fa-envelope:before {
  content: "\f0e0";
 
}
*:before{
  box-sizing: "border-box";
}
.PDoct_div{
  background-color: rgb(223, 210, 210,0.5);
  border: 1px solid grey ;
  border-radius: 4px;
 font-family:Verdana;
  width: 350px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(90%,2%);
  
}

.spe{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.prof-image{

  height:300px;
  width:290px;
 margin-left:-10px ;
 border-radius: 10px;
  

}
.but_update{
  display: inline-block;
  outline: 0;
  border: 0;
  margin-left : 90px;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #363737 0%, #232326 100% );
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
  padding: 0 32px;
  border-radius: 6px;
  color: #fff;
  height: 34px;
  font-size: 18px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease,transform 0.15s ease;}
  

  

.blur{
background-color: rgba(209, 227, 234, 0.5); /* 50% transparent */

}

